{% extends "base.html" %} {% block content %}
<main class="main main--about">
  <p>
    I am Erick, a passionate software engineer. With a focus on cloud
    infrastructure, DevOps, and backend development, I strive to continuously
    improve both my technical expertise and mentoring skills.
  </p>
  <p>
    In my free time, I love exploring new technologies, working on personal
    projects, and sharing my knowledge through my
    <a href="https://github.com/kiminzajnr">GitHub</a> page, where I publish my
    experiments and open-source contributions.
  </p>
</main>
{% endblock %}
