{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:kiminzaeric@gmail.com">
                    kiminzaeric [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/kiminzajnr">
                    @kiminzajnr
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/erick-kiminza/">
                    @erick-kiminza
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}